In [12]:
import pandas as pd
import jdatetime

import pandas as pd
import numpy as np

data = {
    'FirstTrsDate': [14010107, np.nan, 14010101, 14010101, 14020108, np.nan, np.nan, np.nan, 14011128, np.nan],
    'LastTrsDate': [14020326, 14020501, 14020501, 14020501, 14020108, 14020214, np.nan, np.nan, 14020502, np.nan]
}

df = pd.DataFrame(data)

# Convert integer date format to string date format
df['FirstTrsDate'] = df['FirstTrsDate'].apply(lambda x: str(int(x)) if not np.isnan(x) else 'nan')
df['LastTrsDate'] = df['LastTrsDate'].apply(lambda x: str(int(x)) if not np.isnan(x) else 'nan')

# Function to convert Jalali date string to Gregorian datetime
def convert_jalali_to_gregorian(date_str):
    if pd.notnull(date_str):
        try:
            # Extract year, month, day from the string
            year = int(date_str[:4])
            month = int(date_str[4:6])
            day = int(date_str[6:8])
            # Convert Jalali date to Gregorian date
            gregorian_date = jdatetime.date(year, month, day).togregorian()
            return pd.to_datetime(gregorian_date)
        except ValueError:
            return pd.NaT
    return pd.NaT

# Apply the conversion function to the relevant columns
df['FirstTrsDate'] = df['FirstTrsDate'].apply(convert_jalali_to_gregorian)
df['LastTrsDate'] = df['LastTrsDate'].apply(convert_jalali_to_gregorian)

# Display the DataFrame
print(df)

  FirstTrsDate LastTrsDate
0   2022-03-27  2023-06-16
1          NaT  2023-07-23
2   2022-03-21  2023-07-23
3   2022-03-21  2023-07-23
4   2023-03-28  2023-03-28
5          NaT  2023-05-04
6          NaT         NaT
7          NaT         NaT
8   2023-02-17  2023-07-24
9          NaT         NaT